:root {
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--very-dark-blue-main: hsl(217, 54%, 11%);
	--very-dark-blue-card: hsl(216, 50%, 16%);
	--very-dark-blue-line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: "Outfit", sans-serif;
	background-color: var(--very-dark-blue-main);
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.card {
	background-color: var(--very-dark-blue-card);
	width: 326px;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 5px 5px 10px var(--very-dark-blue-card);
}
